$header: 'caviar_dreamsbold', sans-serif;
$body: 'josefin_sansregular', sans-serif;

$bodybold: 'josefin_sanssemibold', sans-serif;

$red: rgb(157,34,37); // #92ddd5
$blue: rgb(28,88,155); // #c5897
$cream: rgb(255,237,205); // #ffedcd
$grey: rgb(99,99,99); // #636363
$dkgrey: rgb(66,66,66);

$head: $red;
$bgmain: $grey;
$bgcontainer: $cream;
$subhead: $blue;
$video: $red;
$footer: $dkgrey;
$title: $red;
$hr: $red;
