

@font-face {
    font-family: 'danielregular';
    src: url('../fonts_extra/daniel-regular-webfont.woff2') format('woff2'),
         url('../fonts_extra/daniel-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
//
// @font-face {
//     font-family: 'danielblack';
//     src: url('../fonts_extra/daniel-black-webfont.woff2') format('woff2'),
//          url('../fonts_extra/daniel-black-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }
//
// @font-face {
//     font-family: 'danielbold';
//     src: url('../fonts_extra/daniel-bold-webfont.woff2') format('woff2'),
//          url('../fonts_extra/daniel-bold-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }
//
//
// @font-face {
//     font-family: 'drawveticaminimedium';
//     src: url('../fonts_extra/drawveticamini-webfont.woff2') format('woff2'),
//          url('../fonts_extra/drawveticamini-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'journalregular';
//     src: url('../fonts_extra/journal-webfont.woff2') format('woff2'),
//          url('../fonts_extra/journal-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }
