$bg-color: #99f8b4; // light green
$main-color: #945f89; // main purple from image
$bottom-color: #00a99f; // bottom section from rough draft
$nav-hvr: #9d1033; // deep maroon red
$top-color: #525151; // dark grey

$h1-font: 'danielregular'; // create a variable for the font
$h1-font-size: calc-rem(60); // create a variable for font size too.

$body-font: 'Questrial', sans-serif;
$body-font-size: calc-rem(14);
